<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:jaxrs="http://cxf.apache.org/jaxrs"
  xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://cxf.apache.org/jaxrs
http://cxf.apache.org/schemas/jaxrs.xsd">
 
  <!-- do not use import statements if CXFServlet init parameters link to this beans.xml -->
 
<!--   <import resource="classpath:META-INF/cxf/cxf.xml" /> -->
<!--   <import resource="classpath:META-INF/cxf/cxf-servlet.xml" /> -->
<!--   <import resource="classpath:META-INF/cxf/cxf-extension-jaxrs-binding.xml"/>  -->

	<jaxrs:server id="BookCXFService" address="/books">
		<jaxrs:serviceBeans>
			<ref bean="booksWS" />
		</jaxrs:serviceBeans>
		<jaxrs:providers>
            <bean class="org.codehaus.jackson.jaxrs.JacksonJsonProvider"/>
        </jaxrs:providers>
	</jaxrs:server>
	
	<bean id="booksWS" class="ar.com.hexacta.tpl.resource.BookWS">
	

	</bean>
	
	<jaxrs:server id="CommentCXFService" address="/comments">
		<jaxrs:serviceBeans>
			<ref bean="commentWS" />
		</jaxrs:serviceBeans>
		<jaxrs:providers>
            <bean class="org.codehaus.jackson.jaxrs.JacksonJsonProvider"/>
        </jaxrs:providers>
	</jaxrs:server>
	

	<bean id="commentWS" class="ar.com.hexacta.tpl.resource.CommentWS">
	

	</bean>
	
	<jaxrs:server id="UserCXFService" address="/users">
		<jaxrs:serviceBeans>
			<ref bean="userWS" />
		</jaxrs:serviceBeans>
		<jaxrs:providers>
            <bean class="org.codehaus.jackson.jaxrs.JacksonJsonProvider"/>
        </jaxrs:providers>
	</jaxrs:server>
	

	<bean id="userWS" class="ar.com.hexacta.tpl.resource.UserWS">
	

	</bean>

	<jaxrs:server id="LoginCXFService" address="/login">
		<jaxrs:serviceBeans>
			<ref bean="loginWS" />
		</jaxrs:serviceBeans>
		<jaxrs:providers>
            <bean class="org.codehaus.jackson.jaxrs.JacksonJsonProvider"/>
        </jaxrs:providers>
	</jaxrs:server>
	

	<bean id="loginWS" class="ar.com.hexacta.tpl.resource.LoginWS">
	

	</bean>

	
</beans>