<section id="bookListPage">
<div ng-controller="bookListCtrl">
<div>
	<div id="feedbackPanel" />
		<div>
			<div class="col-md-2">
			<!--Sidebar content-->
				B&uacute;squeda: 
					<input type="text" class="form-control" placeholder="Ingrese libro a buscar">
			</div>	
			<h4>Libros Disponibles	</h4>
				<button type="button" class="btn btn-primary" ng-click="linkToCreateBook()">Crear Nuevo Libro</button>

				<table border="0" cellspacing="0" cellpadding="0">
					<tr ng-repeat="book in books | filter:query"> <!-- NO ESTA FILTRANDO BIEN -->
						
						<!-- Fields -->
						<td data-title="'Título'" width="180">
							<span class="textoDestacado" style="text-align: center;"> {{book.name}}</span>
						</td>
						<td data-title="'Descripción'" width="320">
							<span class="textoDestacado" style="text-align: center;">{{book.description}}</span>
						</td>
						<td data-title="'Editorial'" width="320">
							<span	class="textoDestacado" style="text-align: center;">{{book.publisher}}</span>
						</td>
						<td data-title="'Categorías'" width="320">
							<span class="textoDestacado" style="text-align: center;">{{book.categories}}</span>
						</td>
						<!-- End Fields -->

						<!-- Buttons --> 
						<!--div class="btn-group"> ALGO ASI ES CON EL BOOTSTRAP, HAY Q FIJARSE BIEN COMO XQ QUEDAN ARRIBA Y SOLO 1 VEZ
						  <button type="button" class="btn btn-default" ng-click="linkToEditBook(book.id)">Editar</button>
						  <button type="button" class="btn btn-default" ng-click="linkToDeleteBook(book.id)">Borrar</button>
						  <button type="button" class="btn btn-default" ng-click="linkToLendBook(book.id)">Prestar</button>
						</div-->
						<td width="50">
							<input type="button" value="Editar"	style="text-align: center;" ng-click="linkToEditBook(book.id)" />
						</td>
						<td width="50">
							<input type="button" value="Borrar"	style="text-align: center;" ng-click="linkToDeleteBook(book.id)" />
						</td>
						<td width="50">
							<input type="button" value="Prestar" style="text-align: center;" ng-click="linkToLendBook(book.id)" />
						</td>
						<!-- End Buttons -->
						
				</tr>
			</table>
		</div>
		<div class="Clear"></div>
	</div>
</div>

</section>