<section id="bookListPage" class="container">
<div ng-controller="bookListCtrl">
<div>
	<div id="feedbackPanel" />
			<div class="row">
				<form role="form" class="col-md-12">
					<div class="form-group col-md-9">
						<div class="input-group col-md-12">
							<input type="text" class="form-control" placeholder="Ingrese libro a buscar">
							<span class="input-group-btn">
								<button class="btn btn-primary">Buscar!</button>
							</span>
						</div>				
					</div>
					<div class="form-group col-md-3">
						<button type="button" class="btn btn-primary col-md-12" ng-click="linkToCreateBook()">Crear Nuevo Libro</button>
					</div>
				</form>
				<!-- Agregar espacio entre los divs y sacar estos brs -->
				<br /><br /><br />
			</div>
			
			<div class="col-md-12">
				<table class="table table-striped table-bordered text-center">
					<caption> <strong> Libros Disponibles </strong> </caption>
					<thead class="text-center">
						<tr>
							<th class="text-center"> T&iacute;tulo </th>
							<th class="text-center"> Descripci&oacute;n </th>
							<th class="text-center"> Editorial </th>
							<th class="text-center"> Categor&iacute;a </th>
							<!--  este colspan es temporal, buscar una solucion mas elegante -->
							<th class="text-center" colspan="3"> Acciones </th>
						</tr>
					</thead>
					<tbody>
						<tr>						
							<!-- Fields -->
							<!-- Hacer los td con vertical-align:middle -->							
							<td>
								Titulo <!-- {{book.name}} --> 
							</td>
							<td>
								Descripcion <!-- {{book.description}}  -->
							</td>
							<td>
								Editorial <!--  {{book.publisher}}  -->
							</td>
							<td>
								Categorias <!-- {{book.categories}}  -->
							</td>
							<!-- End Fields -->
	
							<!-- Buttons --> 
							<td>
								<button type="button" class="btn btn-default btn-sm" ng-click="linkToEditBook(book.id)">Editar</button>
							</td>
							<td>
								<button type="button" class="btn btn-default btn-sm" ng-click="linkToDeleteBook(book.id)">Borrar</button>
							</td>
							<td>
								<button type="button" class="btn btn-default btn-sm" ng-click="linkToLendBook(book.id)">Prestar</button>
							</td>
							<!-- End Buttons -->
							
						</tr>
					</tbody>
			</table>
		</div>
		<div class="Clear"></div>
	</div>
</div>

</section>