<section id="editBook">
	<div class="container jumbotron col-md-6 col-md-offset-3"
		ng-controller="editBookCtrl">

		<form  name="editBookForm" novalidate id="bookDataEditionForm">
			<div class="col-md-8 col-md-offset-2" id="feedbackPanel">
				<fieldset>
					<legend> Editar Libro </legend>
					<!-- TITULO -->
					<div class="form-group">
						<label class="">T&iacute;tulo: </label> <input required
							type="text" id="name" class="form-control" maxlength="150" />
					</div>
					<!-- DESCRIPCION -->
					<div class="form-group">
						<label class="labelIzquierda">Descripci&oacute;n: </label> <input
							required type="text" id="description" class="form-control" />
					</div>
					<!-- EDITORIAL -->
					<div class="form-group">
						<label class="">Editorial: </label> <input required type="text"
							id="publisher" class="form-control" />
					</div>
					<!-- SELECT PAISES -->
					<div class="form-group">
						<label class=""> Pa&iacute;s: </label> <select required
							class="form-control">
							<option>Argentina</option>
							<option>Brasil</option>
							<option>Uruguay</option>
						</select>
					</div>
					<!-- CHECKBOX CATEGORIAS -->
					<div class="form-group">
						<label class="">Categorias: </label>
						<!-- <div wicket:id="bookCategoriesListPanel"></div> -->
						<input class="" id="selectCheckBox1" type="checkbox" />
					</div>



					<!-- BOTONES -->
					<div class="col-md-8 col-md-offset-2">
						<button type="button" class="btn btn-primary btn-block"
							ng-click="save(newBook)">Guardar</button>
						<button type="button" class="btn btn-default btn-block"
							ng-click="reset()">Cancelar</button>
						<button type="button" class="btn btn-default btn-block"
							ng-click="backToHome()">Volver</button>
					</div>


				</fieldset>
			</div>
		</form>
	</div>
</section>