<section id="editBook">
	<div ng-controller="editBookCtrl">
		<h2>LIBROS</h2>
		<form novalidate id="bookDataEditionForm">
			<fieldset>
				<legend>
					Editar Libro
				</legend>
						<label class="labelIzquierda">Título: </label> 
						<input type="text"	id="name" class="inputAjuste4" maxlength="150" />
						<div class="Clear"></div>
						<label class="labelIzquierda">Descripción: </label> 
						<input type="text" id="description" class="inputAjuste4" />
						<div class="Clear"></div>
						<label class="labelIzquierda">Editorial: </label> 
						<input type="text" id="publisher" class="inputAjuste4" />
						<div class="Clear"></div>
						<label class="labelIzquierda"> País: </label> 
						<select>
							<option>Argentina</option>
							<option>Brasil</option>
							<option>Uruguay</option>
						</select> 
						<br/>

				<br /> <label class="labelIzquierda">Categorias: </label>
				<div wicket:id="bookCategoriesListPanel"></div>
					<div class="btn-group">
					  <button type="button" class="btn btn-default" ng-click="backToHome()">Volver</button> <!-- VOLVER Y CANCELAR NO HACEN LO MISMO? -->
					  <button type="button" class="btn btn-default" ng-click="reset()">Cancelar</button>
					  <button type="button" class="btn btn-default" ng-click="save(newBook)">Guardar</button>
					</div>
				<div class="Clear"></div>
			</fieldset>
		</form>
	</div>
</section>