<section id="lendBook">
	<div ng-controller="lendBookCtrl">
		<h2>LIBROS</h2>
			<form id="bookLendingForm">
			<br> 
			<label>
				<h5>
					Prestar libro al usuario
				</h5>
			</label> 
			<br /> <br />
				<div class="btn-group">
				  <button type="button" class="btn btn-default" ng-click="backToHome()">Volver</button>
				  <button type="button" class="btn btn-default" ng-click="reset()">Cancelar</button>
				  <button type="button" class="btn btn-default" ng-click="save(newBook)">Prestar</button>
				</div>
			<div class="Clear"></div>
		</form>
	</div>
</section>