<section id="register" ng-controller="registerCtrl">
	<div class="container jumbotron col-md-6 col-md-offset-3">


		<div class="container">
			<div class="row">
				<!-- Use the alert element ONLY if you controller can handle alerts -->
				<alert ng-repeat="alert in alerts" type="{{alert.type}}"
					close="closeAlert($index)"> <strong>{{alert.strong}}</strong>
				{{alert.msg}}</alert>

				<h2 class="text-center login-title">Registrese para ingresar a la magnifica
				 Hexacta e-BookStore</h2>
				<div class="account-wall">

					<img class="profile-img"
						src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
						alt="">
					<form novalidate name="registerForm" class="form-signin"
						ng-submit="registerForm.$valid && backToHome()">
						<input type="email" ng-model="user" class="form-control" 
							ng-minlength="3" ng-maxlength="16" id="user"
							placeholder="usuario@email.com" ng-required="true" autofocus>
						<input ng-model="pass" id="pass" ng-minlength="6" ng-maxlength="12"
							placeholder="Ingrese aqui su password..." class="form-control"
							type="password" ng-required="true"> 
						<input ng-model="pass2" id="pass2" ng-minlength="6" ng-maxlength="12"
							placeholder="Repita aqui su password..." class="form-control"
							type="password" ng-required="true">
						<button type="submit"
							class="btn btn-lg btn-hexacta-primary btn-block">
							Registrar</button>
						<label class="checkbox pull-left"> <input type="checkbox"
							value="remember-me"> Recordar
						</label> <a href="#" class="pull-right need-help">Ayuda? </a>
						<span class="clearfix"></span>
					</form>
				</div>
			</div>
		</div>
	</div>

</section>
