@charset "utf-8";
/* CSS Document */

.btn-hexacta-primary {
  color: #fff;
  background-color: #009292;
  border-color: #008080;
}
.btn-hexacta-primary:hover,
.btn-hexacta-primary:focus,
.btn-hexacta-primary:active,
.btn-hexacta-primary:link,
.btn-hexacta-primary:visited,
.btn-hexacta-primary.active,
.open > .dropdown-toggle.btn-hexacta-primary {
  color: #fff;
  background-color: #008080;
  border-color: #007a74;
}
.btn-hexacta:hover,
.btn-hexacta:focus,
.btn-hexacta:active,
.btn-hexacta:link,
.btn-hexacta:visited,

.btn-hexacta.active,
.open > .dropdown-toggle.btn-hexacta {

  border-color: #007070;
}

.btn-hexacta-primary.disabled,
.btn-hexacta-primary[disabled],
fieldset[disabled] .btn-hexacta-primary,
.btn-hexacta-primary.disabled:hover,
.btn-hexacta-primary[disabled]:hover,
fieldset[disabled] .btn-hexacta-primary:hover,
.btn-hexacta-primary.disabled:focus,
.btn-hexacta-primary[disabled]:focus,
fieldset[disabled] .btn-hexacta-primary:focus,
.btn-hexacta-primary.disabled:active,
.btn-hexacta-primary[disabled]:active,
fieldset[disabled] .btn-hexacta-primary:active,
.btn-hexacta-primary.disabled.active,
.btn-hexacta-primary[disabled].active,
fieldset[disabled] .btn-hexacta-primary.active {
  background-color: #00CCBB;
  border-color: #00BAAB;
}

.btn-hexacta-green {

  color: #fff;
  background-color: #228B22;
  border-color: #007500;
}

.btn-hexacta-green:hover,
.btn-hexacta-green:focus,
.btn-hexacta-green:active,
.btn-hexacta-green:link,
.btn-hexacta-green:visited,
.btn-hexacta-green.active,
.open > .dropdown-toggle.btn-hexacta-green {
  color: #fff;
  background-color: #007500;
  border-color: #006400;
}

.btn-hexacta-green.disabled,
.btn-hexacta-green[disabled],
fieldset[disabled] .btn-hexacta-green,
.btn-hexacta-green.disabled:hover,
.btn-hexacta-green[disabled]:hover,
fieldset[disabled] .btn-hexacta-green:hover,
.btn-hexacta-green.disabled:focus,
.btn-hexacta-green[disabled]:focus,
fieldset[disabled] .btn-hexacta-green:focus,
.btn-hexacta-green.disabled:active,
.btn-hexacta-green[disabled]:active,
fieldset[disabled] .btn-hexacta-green:active,
.btn-hexacta-green.disabled.active,
.btn-hexacta-green[disabled].active,
fieldset[disabled] .btn-hexacta-green.active {
  background-color: #00CCBB;
  border-color: #00BAAB;
}

button:active {
	outline: none !important;
}

button:focus {
	outline: none !important;
}

/* Nuevo color standard  RGB(107,155,32)*/

textarea { resize:vertical; } /* none|horizontal|vertical|both */

textarea.vert { resize:vertical; }

textarea.noResize { resize:none; }

/* PARA VALIDACIONES CON ANGULARJS */
input.ng-invalid.ng-dirty {
    border-color: red;
}

.ng-valid.ng-dirty {
    border-color: green;
}




.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="email"]
{
    margin-bottom: 10px;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
}
.account-wall
{
    margin-top: 20px;
    padding: 10px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 22px;
    font-weight: 700;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}
